<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Holiday Search</title>
        <meta name="description" content="A Holiday app">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <nav class="navigation">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/today">Today</a>
            <a class="nav-link" href="/search">Search</a>
        </nav>

        <h1 class="page-title">Holiday Search</h1>
        <p>This application displays information about holidays.</p>
        <p>Here is Holiday data about today!</p>

        {% if holidays %}
            {% for holiday in holidays %}
            <hr />
            <h2 class="section-title">{{ holiday.name }}</h2>
            <p>{{ holiday.description }}</p>
            {% endfor %}
        {% else %}
            <h2 class="section-title">No Holidays today!</h2>
        {% endif %}

    </body>
</html>
